<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Page de Connexion</title>

  <!-- chargement de ma feuille de style -->
	{% load staticfiles %}
<link rel="stylesheet" href="{% static 'CompteUtilisateur/connexion.css' %}">



<!-- chargemment des fichiers CSS et Javascript de bootstrap4 qui sont en ligne -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


</head>
<body>
	<!-- debut de la page -->
<div class="mycontainer-fluid">

<!-- bar de navigation -->
		<div class="row "  id="myrownavbar">
			<div class="col-12">

				<nav class="navbar navbar-expand-md navbar-dark bg-dark">
				  <a class="navbar-brand" href="#">VDSA</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#maNavBar" aria-controls="maNavBar" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse " id="maNavBar">
				    <ul class="navbar-nav ml-auto">
				      <li class="nav-item active">
				        <a class="nav-link" id="seconnecter" href="#">Se Connecter <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" id ="creeruncompte" href="#">Créer un Compte</a>
				      </li>
				    </ul>
				  </div>

				</nav>
			</div>
		</div>
<!--  Fin de la bar de navigation -->


<!-- message d'information concernant la creation de compte -->
		<div class="row justify-content-center" id="creation_compte_alerte">
			<div class="col-11 col-xl-6  col-lg-6 col-md-8 col-sm-10 " >
				<div class="alert alert-primary" role="alert">
				  Pour la création de votre compte, merci d'envoyer ce formulaire à l'administrateur du site.
					Quand il créera votre compte, vous recevrez un lien  par mail pour l'initialisation de votre mot de passe
				</div>
			</div>
		</div>
	<!-- fin message d'information concernant la creation de compte -->

	<!-- message d'erreur -->
			<div class="row justify-content-center" id="div_erreur" >
			</div>
		<!-- fin message d'erreur -->


<!-- formulaire de creation de compte -->
		<div class="row justify-content-center " >
			<div class="col-11 col-xl-6  col-lg-6 col-md-8 col-sm-10 "  id="div_creation_compte">
				<form name="creation_de_compte_formulaire" id="creation_de_compte_formulaire">

					<div class="form-group row">
						<label for="nom" class="col-sm-2  col-xl-2 col-form-label"> Nom&nbsp;:</label>
						<div class="col-sm-10  col-xl-10">
							<input type="texte" class="form-control" id="nom" >
						</div>
					</div>


					<div class="form-group row">
						<label for="prenom" class="col-sm-2  col-xl-2 col-form-label"> Prénom&nbsp;:</label>
						<div class="col-sm-10 col-xl-10">
							<input type="texte" class="form-control" id="prenom" >
						</div>
					</div>


					<div class="form-group row">
						<label for="input_email_creation_de_compte" class="col-sm-2 col-xl-2 col-form-label"> Email&nbsp;:</label>
						<div class="col-sm-10 col-xl-10">
							<input type="texte" class="form-control " id="input_email_creation_de_compte" >
						</div>
					</div>


					<div class="form-group row">
						<label for="inputStatut" class="col-sm-2 col-form-label"> Statut&nbsp;:</label>
						<div class="col-sm-10">
							<div class="row justify-content-center " >
								<div class="btn-group btn-group-toggle" data-toggle="buttons">
									<label class="btn btn-secondary active"  id="commercial_label">
										<input type="radio" name="options" id="commercial"  autocomplete="off" checked> Commercial
									</label>
									<label class="btn btn-secondary" id="directeur_label">
										<input type="radio" name="options" id="directeur"  autocomplete="off"> Directeur de Magasin
									</label>
								</div>
							</div>
						</div>
					</div>


					<div class="form-group row" id="magasin_row">
						<label for="magasin" class="col-sm-2 col-form-label"> Magasin&nbsp;: </label>
						<div class="col-sm-10">
							<input type="texte" class="form-control" id="magasin" placeholder="Nom du Magasin" >
						</div>
					</div>


					<div class="container">
						<div class="row justify-content-end ">
							<div class="col-sm-10">
								<div class="container">
									<div class="row justify-content-center " >
											<button type="submit" class="btn btn-success" id="mail_button">Envoyer le Mail</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
		<!-- fin formulaire de creation de compte -->

		<!-- formulaire de connexion -->
				<div class="row justify-content-center " >
					<div class="col-11 col-xl-6  col-lg-6 col-md-8 col-sm-10 "  id="div_connexion">

						<form name="connexion_formulaire" id="connexion_formulaire" >
							<div class="form-group row">
						    <label for="input_email_connexion" class="col-sm-2 col-form-label"> Email&nbsp;:</label>
						    <div class="col-sm-10">
						      <input type="texte" class="form-control" id="input_email_connexion" >
						    </div>
						  </div>
						  <div class="form-group row">
						    <label for="password" class="col-sm-2 col-form-label">Password&nbsp;:</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" id="password" placeholder="Password">
						    </div>
						  </div>


							<div class="container">
								<div class="row justify-content-end ">
									<div class="col-sm-10">
										<div class="container">
											<div class="row justify-content-center " >
													<button type="submit" class="btn btn-success" id="connexion_button">connexion</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="mot_de_passe_ouble">
									<a href="#">	mot de passe oublié? </a>
							</div>
					</form>

				</div>
			</div>

		<!-- fin du formulaire de connexion -->


	</div>
<!-- fin de la page -->


<!--  chargemment des fichiers CSS et Javascript de bootstrap4 qui sont en ligne
à cause d'un certain bug dans leurs fichiers je dois les recharger encore -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


<!-- My JS -->
	{% load static %}
<script type="text/javascript" src="{% static 'CompteUtilisateur/connexion.js' %}"></script>

</body>
</html>
